.Conteiner {
    background-image: url('/Fondo-About.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    padding: 50px; 
    opacity: 0.8;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.Tarjeta {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px; 
    border-radius: 10px; 
    max-width: 800px; 
}

.Parrafos {
    color: rgb(0, 0, 0);
    font-size: 24px; 
    text-align: center; 
}